body{
    background-color: black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    padding:100px;
}
.container{
    border-radius: 20px;
    background-color: white;
    text-align:center;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:20px;
   
    
    
}

text{
   text-align:center;
   color: white;
   
}
input,button,select{
    text-align:center;
    border-radius: 20px;
    background-color:white;
    height: 200px;
    width: 300px;
}
